# Model Lifecycle
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT=mastershelf_experiment_
MLFLOW_MODEL_NAME=mastershelf_

# GCP
GCP_REGION=europe-west1
GCP_PROJECT=le-wagon-ds-2327
GAR_IMAGE=mastershelf

# API on Gcloud Run
SERVICE_URL=https://mastershelf-8316567599.europe-west1.run.app/ # à renseigner une fois déployé

# Docker
DOCKER_IMAGE_NAME="mastershelf"
DOCKER_REPO_NAME="repo-mastershelf"
